.EmbeddedVideo {
    position: fixed;
    bottom: 0px;
    right: 0px;
    
    width:300px; 
    height:calc(169px+39px);
    border-style:none;
    border-width: 1px;

    &.hide {
        display:none;
    }
    iframe {
        height:169px;
    }
    background-color: transparent;
    .closeRow {
        display: flex;
        justify-content: flex-end;
        height: 39px;
    }
    .closeButtonOuter {

    }
    .closeButton {
        font-weight: bold;
        font-size: 20pt;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        background-color: transparent;
        outline: none;
        border: none;
        text-decoration: none;

    }
}