@import "../sass-variables.scss";

.StickyHeader {
    width: 100%;
    height: $navbar-height;
    background-color: black;
    display: flex;
    a {
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 130%;
        font-weight: bold;
        display:flex;
        justify-content: center;
        align-items: center;
        padding-left: 2em;
        padding-right:2em;
      }
      a.title {
        font-size: 200%;
      }
      
      /* Change the color of links on hover */
      a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Add a color to the active/current link */
      a.active {
        background-color: #4CAF50;
        color: white;
      }
}