@import "../sass-variables.scss";

.StickyHeader {
    position: fixed;
    top: 0px;
    left: 0px;
}

.EmbeddedVideo {

}

.TopLayer {
    font-size: 16pt;
    main {
        margin-top: $navbar-height;
    }
}